<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 30%;">username</th>
                <th style="width: 40%;">active roles</th>
                <th style="width: 30%;"></th>
            </tr>
        </thead>
        <tbody>
            @for (user of Users; track user.username) {
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.roles}}</td>
                <td><button (click)="openRolesModel(user)" class="btn btn-info">edit roles</button></td>
            </tr>
            }
        </tbody>
    </table>
</div>