

<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto"> <!-- Profile widget -->
        <div class="bg-dark shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img
                            [src]="member.photoUrl"
                            alt="..." width="130" class=" rounded-3 mb-2 img-thumbnail"></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{member.knownAs}}</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{member.city}}</p>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{member.age}} Y/O</p>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>member since: {{member.created | date : 'dd MMM yyyy'}}</p>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>LAST active: {{member.lastActive | date}}</p>
                    </div>
                </div>
            </div>
            <div class="bg- p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{member.photos?.length}}</h5><small class="text-muted"> <i
                                class="fa fa-image mr-1"></i>Photos</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i
                                class="fa fa-user mr-1"></i>Followers</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i
                                class="fa fa-user mr-1"></i>Following</small>
                    </li>
                </ul>
            </div>
            <tabset #memberSet>
                <tab heading="profile about" (selectTab)="onTabActivated($event)">
            <div class="px-4 py-3">
                <h5 class="mb-0 text-secondary">Introduction</h5>
                <div class="p-4 rounded shadow-sm bg-primary">
                    <p class="font-italic mb-0">{{member.introduction}}</p>
                </div>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0 text-secondary">Interests</h5>
                <div class="p-4 rounded shadow-sm bg-primary">
                    <p class="font-italic mb-0">{{member.interests}}</p>
                </div>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0 text-secondary">Looking for</h5>
                <div class="p-4 rounded shadow-sm bg-primary">
                    <p class="font-italic mb-0">{{member.lookingFor}}</p>
                </div>
            </div>
        </tab>
        <tab heading="Profile photos" (selectTab)="onTabActivated($event)" >
            <div class="py-4 px-4">
                <div class="row">
                    <gallery [items]="images" thumbPosition="left"></gallery>
                    
                </div>
            </div>
        </tab>
        <tab heading="Messages" (selectTab)="onTabActivated($event)" >
            <app-message-member [username]="member.userName!" [messages]="messages" (outputMessage)="addMessage($event)"></app-message-member>
        </tab>
        </tabset>
        </div>
    </div>
</div>

