<section class="vh-150" style="background-color: #2e3377;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            
              

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form [formGroup]="formControl" class="mx-1 mx-md-4" (ngSubmit)="register()">
                  <div class="row justify-content-center">
                  <div class="form-check   mb-5 col-3 ">
                    <select [formControl]="$any(formControl.controls['isMale'])" class="form-select" aria-label=".form-select-lg example" > 
                      <option selected value="{{true}}">Male</option>
                      <option value="{{false}}">Female</option>
                    </select>
                  </div>
                </div>
                  <div class="row justify-content-center">
                  <div class="form-check   mb-5 col-6">
                    <app-text-input [formControl]="$any(formControl.controls['username'])"
                     [label]="'Username'">
                    </app-text-input>
                  </div>
                  
                  <div class="form-check   mb-5 col-6" >
                    <app-datepicker [formControl]="$any(formControl.controls['dateBirth'])"
                    [label]="'Date of birth'">

                    </app-datepicker>
                  </div>
                  <div class="form-check   mb-5 col-6">
                    <app-text-input [formControl]="$any(formControl.controls['knownAs'])"
                     [label]="'Known As'">
                    </app-text-input>
                  </div>
                  <div class="form-check   mb-5 col-6">
                    <app-text-input [formControl]="$any(formControl.controls['city'])"
                     [label]="'City'">
                    </app-text-input>
                  </div>
                  <div class="form-check   mb-5 col-6 ">
                    <app-text-input [formControl]="$any(formControl.controls['country'])"
                     [label]="'country'">
                    </app-text-input>
                  </div>
                  
                  <div class="form-check   mb-5 col-6">
                    <app-text-input [formControl]="$any(formControl.controls['introduction'])"
                     [label]="'introduction'">
                    </app-text-input>
                  </div>
                  </div>
                  <div class="row justify-content-center">
                  <div class="form-check   mb-5 col-6">
                    <app-text-input [formControl]="$any(formControl.controls['interests'])"
                     [label]="'interests'">
                    </app-text-input>
                  </div>
                  <div class="form-check   mb-5 col-6">
                    <app-text-input [formControl]="$any(formControl.controls['lookingFor'])"
                     [label]="'looking For'">
                    </app-text-input>
                  </div>
                  <div class="form-check   mb-5 col-6">
                    <app-text-input [formControl]="$any(formControl.controls['password'])" [label]="'Password'"
                      [type]="'password'">
                    </app-text-input>
                  </div>

                  <div class="form-check   mb-5 col-6">
                    <app-text-input [formControl]="$any(formControl.controls['confirmPassword'])"
                      [label]="'Confirm password'" [type]="'password'">
                    </app-text-input>
                  </div>
                </div>
                  <div class="  mx-4 mb-3 mb-lg-4 ">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-primary btn-lg me-2">Register</button>
                    <button type="button" (click)="cancel()" class="btn btn-danger btn-sh">Cancel</button>
                  </div>
                </form>

              
              <!--
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                
                  <img src="https://cdn.gencraft.com/prod/user/54d5127a-5aa5-4835-982b-a85c577240dc/d1655aa3-2487-4b11-98db-b0ed9e789cbc/image/image0_0.jpg?Expires=1739470724&Signature=mG6cK3-Wrqm8a-dWzVkla2foAW~i~3mZjM-adM99zczw0CF5XFayU10WklC7Q5ngcUZQmsKRsmiwcsTDmn2qWWmXv1wuOTj~LZUKEGP75PrYEC4pqJjUQqgcpAdq4zPuT7onBIzGuoRejjp7p6semu0jh8NbZqFeEUUI6CZ6dzGqXJ6j-ZI1P2qu~8XAaQUg03xNcr17duFxX3qN40WUZRUrsPYJq4YriUuNrbXyBI8fTbBM4o80jv399JVF2fNTyfq90Fu4TzvMvYB0GLoX0ro0K7m~bSfebm2Nl5GAOB8viar-I33qeDS7iCoJ-m7Z5PRI8MPPZRvOdZPH0rTERQ__&Key-Pair-Id=K3RDDB1TZ8BHT8"
                    class="img-fluid" alt="Sample image">
                    
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
                
              </div>-->
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>