<div class="container">
    <app-filters (params)="getFilter($event)"></app-filters>
    <div class="row">

        @for (member of membersService.PaginatedRes()?.items; track $index) {
        <div class="Mycard col-3" style="padding: 1rem;">
            <app-member-card [member]="member"></app-member-card>
        </div>
        }
    </div>
    @if (membersService.PaginatedRes()) {
    <div class="d-flex justify-content-center">
        <pagination 
        [ngModel]="membersService.PaginatedRes()?.Pagination?.currentPage"
        [totalItems]="membersService.PaginatedRes()?.Pagination?.totalItems!"
        [itemsPerPage]="this.userParams.pageSize" 
        [maxSize]="10" 
        (pageChanged)="pageChanged($event) "></pagination>
    </div>
    }
</div>